/* App.css */
:root {
  --background-color: #2c2c2c;
  --primary-color: #fff;
  --border-color: #444;
  --cell-bg-color: #333;
  --cell-hover-bg-color: #444;
  --highlight-color: #3e8e41;
  --font-size: 18px;
  --button-padding: 10px;
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Changed font */
}

.App {
  text-align: center;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--primary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board {
  display: inline-block;
  border: 2px solid var(--border-color);
  margin: 20px auto;
  padding: 5px;
  background-color: var(--background-color);
}

.row {
  display: flex;
}

.cell {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  background-color: var(--cell-bg-color);
  color: var(--font-color); /* Set the font color here */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-color);
  transition: background-color 0.3s ease;
}

.cell:hover {
  background-color: var(--cell-hover-bg-color); /* Hover effect */
}

/* Remove number input arrows */
input.cell::-webkit-outer-spin-button,
input.cell::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.cell[type=number] {
  -moz-appearance: textfield;
}

.cell:hover {
  background-color: var(--cell-hover-bg-color); /* Added hover color for cells */
}

.cell:nth-child(3n) {
  border-right: 2px solid var(--border-color);
}

.row:nth-child(3n) {
  border-bottom: 2px solid var(--border-color);
}

.controls {
  margin-top: 20px;
}

.controls select,
.controls button {
  margin: 5px;
  padding: var(--button-padding);
  font-size: 16px;
  cursor: pointer;
  background-color: var(--cell-bg-color);
  color: var(--primary-color);
  border: 1px solid var(--border-color);
  transition: background-color 0.3s ease;
}

.controls button:hover,
.controls select:hover {
  background-color: var(--highlight-color);
}

@media screen and (max-width: 600px) {
  .board {
    width: 90vw;
    height: 60vh;
  }

  .cell {
    width: 10vw;
    height: 10vw;
    font-size: 5vw;
  }

  .controls select,
  .controls button {
    font-size: 14px;
    padding: 8px;
  }
}
